@reference "tailwindcss";

[data-theme='app'] {
  .fretboard {
    display: grid;
    grid-template-columns: 2fr repeat(3, 4fr) repeat(3, 4fr) repeat(3, 2fr) repeat(2, 2fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .fretboard-container {
    @apply px-4 md:px-12 pt-6;
  }

  .fret-markers {
    @apply flex items-center justify-center self-center justify-self-center text-red-500/50 font-bold;
  }

  .fret-markers-round {
    @apply rounded-full w-6 h-6 bg-blue-200/50;
  }
}

[data-theme='m4l'] {
  .fretboard {
    display: grid;
    grid-template-columns: 4fr repeat(3, 4fr) repeat(3, 4fr) repeat(3, 2fr) repeat(2, 2fr);
    grid-template-rows: repeat(6, auto);
    gap: 0;
    overflow: hidden;
  }

  .fretboard > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fretboard-container {
    @apply flex overflow-x-auto h-[165px] mt-1;
  }

  .fret-markers {
    @apply flex items-center justify-center self-center justify-self-center text-yellow-500 font-bold text-xs;
  }

  .fret-markers-round {
    @apply rounded-full w-5 h-5 bg-gray-600/20;
  }
}
